<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestFriday.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TestFridayEn.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4457B3D61D1E756700255FD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>447965491D1244F60068F979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>447965621D1244F60068F979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4479656D1D1244F60068F979</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
